* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 30px solid black;
    border-radius: 20px;
    background-color: rgb(66, 96, 151);
    padding: 50px;
    padding-bottom: 41em;
    
}

#Scoreboard {
    font-size: x-large;
    border: 5px solid red;
    border-radius: 10px;
    margin: 5px auto;
    padding: 20px;
    background-color: rgb(83, 209, 89);
}

.score, .round {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
button {
    display:flex;
    justify-content: center;
    flex-direction: row;
    border: solid rgb(232, 248, 255) 10px;
    border-radius: 15px;
    background-color: rgb(119, 119, 223);
    font-size: larger;
    margin: 20px 0px;
    padding: 5px;
    
}